:root {
    --primary-cian : #FF8B13;
    --complementary-purple : #6F0A6F;
    --complementary-pink :#CF4DCE;
    --main-lemon: #b9e664;
}
* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    width: 100%;
    background-color: #000;
    color:  white;
}
.full-page {
    /* max-width: 100px; */
    padding: 0 3rem;
}
.section-p1 {
    padding: 2rem 4rem;
    margin: 0 1rem;
}
.hero {
    display: flex;
    align-items:  center;
    justify-content: space-around;
    height: 100px;
    position: fixed;
    width: 100vw;
    background-color: #000;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: visible;
}
/* #header {
    display: flex;
    justify-content: center;
    align-items: center;
    alignf
} */
.logo {
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--primary-cian);
}
.menu ul{
    display: flex;
    align-items: center;
}
.menu ul li {
    list-style: none;
    margin-right: 1rem;
}
.menu ul li a{
    text-decoration: none;
    padding: 0.5rem;
    font-size: large;
    color: white;
}
.menu ul li a:hover {
    border-bottom:  2px solid #ECECEC

}
#slide-container {
    display: flex;
    overflow: hidden;
    margin-top: 7rem;
}

/* SUCCESS AD */
.advert{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    justify-content: space-evenly;
}
.success {
    height: 30rem;
    width: 25rem;
    position: relative;
}
.success img{
    height: 100%;
    border: 10px solid white;
    width: 100%;
    object-fit: cover;
}
.success::after{
    position: absolute;
    content: '';
    border: 8px solid var(--main-lemon);
    top: 26px;
    left: -33px;
    height: 100%;
    width: 98%;
    z-index: -1;
}
.sucs-text {
    display: flex;
    animation-duration: 3s;
    justify-content: center;
}
.sucs-text h3 {
    width: 10rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: cursive;
    color: var(--primary-cian);
}
span.withUs {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #F273E6;
}


#slide-image{
    object-fit: cover;
    transition: 1s ease-in;
    height: 75vh;
}

.AboutUs {
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.AboutUs h2{
    font-size: 30px;
    text-align: center;
    margin: 2rem auto;
}

.aboutContainer {
    height: max-content;
    display: flex;
    flex-wrap: wrap; 
    gap: 0.5rem;
    justify-content: space-between;
}
.aboutBlock {
    width: 270px;
}
.aboutBlock p {
    margin-bottom: 2rem;
    color: white;
}
.enrollpic img{
    width: 250px;
    height: 150px;
    
}
a.learn {
    text-decoration: none;
    border: 1px solid var(--primary-cian);
    padding: 0.6rem;
    width: max-content;
    color:var(--complementary-purple);
}

a.learn:hover{
    border: 1px solid var(--complementary-purple);
    background-color:var(--complementary-purple);
    color: white;
}
.admission {
    margin-bottom: 2rem;
    height: fit-content;
}
.admissionImage img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.admissionText {
    /* overflow: hidden; */
    padding-top: 1.5rem;
    position: relative;
    background-image: url(images/kyoshi-reyes-wodjj9GqzSY-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    padding-left: 3rem;
    z-index: 1;
    height: 100%;
}
.admissionText .p1 {
    color: #000;
}
.admissionText .p2 {
    margin-bottom: 2.5rem;
    color: #3d3d3d;
}
.admissionText h2 {
    color: #000;
    padding: 1rem 0;
}
.admissionText::after{
    overflow: hidden;
    content: '';
    position: absolute;
    background-color: rgb(169, 169, 252);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: -1;
}
a.apply {
    transition: 2s color, background-color;
    text-decoration: none;
    border: 1px solid var(--main-lemon);
    color: white;
    background-color: var(--complementary-purple);
    padding: 1rem 2rem;
    width: fit-content;
}
a.apply:hover{
    background-color: var(--primary-cian);
    color: var(--complementary-purple);
}

.gridKnowUs {
    margin: auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
}
.knowUs {
    margin-top: 4rem;
    /* background: rgba(0,0,0,0.9); */
    padding: 1rem;
}
.knowUs h2 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: white;
    margin: 20px 0;
    margin-bottom: 35px;
}
.services {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    border-radius: 10%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    position: relative;
    width: 240px;
}

.s1Curriculum {
    background-image: url(images/curriculum.jpg);  
}
.s2School {
    background-image: url(images/school.jpg); 
}
.s3Programs {
    background-image: url(images/tour.jpg);
}
.s4Tour {
    background-image: url(images/school_background_pic.jpg);
}
.s5Admissions {
    background-image: url(images/admissions.jpg);
}
.s6Activities {
    background-image: url(images/tyler-lagalo-Sfe-nQMz2h0-unsplash.jpg);
}
.services::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /* z-index: -1; */
    background-color: black;
    opacity: 0.6;
    top: 0;
    left: 0;
}
.services:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 2s;
}
.service-text p {
    font-size: 20px;
    color: white;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.service-text {
    z-index: 1;
}

.motto {
    margin-top: 6rem;
    margin-bottom: 4rem;
    height: fit-content;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1;
    gap: 26px;
}
.mottoDesc h3 {
    padding: 1.5rem 0;
}
.mottoImage {
    position: relative;
}
.mottoImage::after {
    position: absolute;
    content: '';
    top: 4rem;
    left: 2rem;
    height: 100%;
    z-index: -1;
    width: 100%;
    /* background-color: #b9e664; */
    background-image: linear-gradient(to right, #b9e664, #e66478,  #9164e6);

}
.mottoImage img {
    object-fit: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
}
.mottoText {
    padding: 1rem 0;

}
.mottoText h2 {
    margin-left: 1rem;
    color: var(--complementary-pink);
}
.mottoDesc {
    width: 75%;
    margin-left: 3rem;
}
.mottoDesc h3 {
    color: var(--primary-cian);
}
.mottoDesc p {
    color: white;
}
.pictures {
    text-align: center;
    justify-content: center;
    margin-top: 2rem;
    display: flex;
    flex-grow: inherit;
}
.showcase img {
    width: 100px;
    height: 80px;
    object-fit: cover;
}
.testimonials {
 background-color: #3d3d3d;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
}
#testimonials {
    position: relative;
    width: 500px;
    height: 230px;
    overflow: hidden;
}
.testimonials h2#testTitle  {
    display: flex;
    color: white;
    justify-content: center;
    width: 100%;
}
.arrow {
    position: relative;
    cursor: pointer; 
    color: #FF8B13;
    z-index: 1;
}
.arrow.inactive {
    pointer-events: none;
}
.left {
    top: 7.5rem;
    right: 1.5rem;
}
.right {
   bottom: 9.7rem;
    left: 56.5rem;
}
.quoteImage {
    width: 40px;
    height: 40px;
}
.quotes {
    display: flex;
    /* flex-wrap: wrap; */
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    gap: 40px;
    right: 0;
    transition: 0.5s
}
.reviews {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: #F4F1F1;;
    border-radius: 20px;
    padding: 1rem;
    height: 100%;
    flex-shrink: 0;
    color: black
}
.testimonialText {
    margin-left: 10rem;
    width: 400px;
    height: 230px;
    word-spacing: 4px;
    overflow: hidden;
}
.notActive {
    display: none;
}
.identity {
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
    align-items:center;
}
.face {
    margin-left: 1.5rem;
}
#role{
    margin-left: 0.5rem;
}
#role h3 {
    color: #9164e6;
}
.face img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.enrollbackground {
    margin-top: 2rem;
    background-position: fixed;
    background-image: url(images/santi-vedri-O5EMzfdxedg-unsplash.jpg);
    height: fit-content;
    background-size: cover;
}
.enrollHeading {
    display: flex;
    padding-top: 1rem;
    justify-content: left;
    margin-left: 3rem;
    color: var(--primary-cian);
    font-size: 20px;
}
.enroll {
    width: 80%;
    overflow-x: hidden;
    background-color: black;
    display: flex;
    opacity: .8;
    font-size: 17px;
    padding: 2rem;
    margin-left: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.enrollbtn{
    display: flex;
    margin-top: 3rem;
    justify-content: center;
}
.enrollbtn a {
    display: flex;
    width: fit-content;
    justify-content: center;
    padding: 1rem;
    background-color: var(--primary-cian);
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.enrollbtn a:hover {
    background-color: transparent;
    color:#000;
    border: 1px solid var(--primary-cian);
    transition: background-color 0.2s ;
}

.components {
    overflow:visible;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.components a {
    text-decoration: none;
    width: max-content;
    height: 2rem;
    padding: 0.3rem 1rem;
    color: white;

}
.events {
    background-color: var(--complementary-pink);
}
.classrooms {
    background-color: var(--complementary-purple);
}
.teachers {
    background-color: var(--main-lemon);
}
.curriculum {
    background-color: var(--primary-cian);
}
.prices {
    background-color: var(--complementary-pink)
}
.courses {
    background-color: var(--complementary-purple);
}


/* CHANGES FOR DESKTOP */
.hamburger {
    display: none;
}
.menu-hamburger {
    display: none;
}
/* END OF CHANGES FOR DESKTOP */

/* mobile styling */
@media screen and (max-width: 900px) {
    body {
        overflow-x: hidden;
    }
    #slide-image {
        height: 50vh;
    }
    .menu {
        display: none;
    }
    .menu-hamburger {
        /* margin-top: 140px; */
        margin: auto;
        position: relative;
        /* height: 100vh; */
        transition: display 8.5s;
        border-radius : 20px;
        display: none;
        top: 100px;
        margin-bottom: 50px;
        height: 550px;
        left: 0;
    }
    .menu-hamburger.active {
        display: initial;
    }
    .menu-hamburger ul {
        padding:1rem 0;
        display: flex;
        flex-direction: column;
        color: white;
        background-color: grey;
        width: 50vw;
        z-index: 1;
        height: 100%;
        margin: auto;
        gap: 20px;
        border-radius: 20px;
        list-style-type: none;
        text-align: center;
    }
    .menu-hamburger hr {
        margin: auto;
        background-color: var(--complementary-purple);
        width:90%;
    }
    .menu-hamburger ul a {
        color: white;
        padding: 16px 0;
        text-decoration: none;
        margin-bottom: 1rem
    }
    .hamburger {
        display: block;
        position: relative;
        padding: 0.5rem;
        border-radius: 50%;
        border: 3px solid var(--primary-cian);
    }
    .advert {
        flex-direction: column;
        gap: 4rem;
    }
    .aboutContainer {
     justify-content: center;
     text-align: center;
     gap: 2.5rem;
    }
    .admission {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .admissionImage {
        height: 50%;
    }
    .admissionText {
        height: 50%;
    }
    .gridKnowUs {
        /* margin: auto;
        justify-content: center;
        display: grid;
        row-gap: 1rem;
        column-gap: 2rem; */
        grid-template-columns: 1fr 1fr 1fr;
    }
    .motto {
        margin-top: 6rem;
        margin-bottom: 4rem;
        overflow: hidden;
        text-align: left;
        display: flex;
        flex-direction: column;
    }
    .mottoText {
        margin-top: 5.5rem;
    }
    .mottoImage {
        position: relative;
    }
    #testimonials {
        width: 300px;
        height: 300px;
    }
    .right {
        bottom: 14rem;
        left: 31.3rem;
    }
    p.enroll {
        width: 80%;
        overflow-x: hidden;
        display: flex;
        opacity: .5;
        font-size: 17px;
        padding: 2rem;
        margin-left: 2rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .footer {
        height: 38rem;
    }
    .moreInfo {
        display: flex;
        flex-wrap: wrap;
    }
    .quickLinks {
        display: flex;
        flex-wrap: wrap;
    }
}


/* For mobile phones, not tablet */

@media screen and (max-width: 600px) {
    
    .gridKnowUs {
        margin: auto;
        justify-content: center;
        display: grid;
        grid-template-columns: 90% 1;
        row-gap: 1rem;
        column-gap: 2rem;
    }
    .motto {
        display: flex;
        flex-direction: column;
    }
}

.footer {
    background-color: black;
    color: var(--primary-cian);
    padding: 1rem 2rem;
    text-align: left;
    margin-top: 5rem;
}
.footer h2 {
    color: var(--complementary-purple);
    padding: 16px 0;
}
.moreInfo {
    gap: 1.2rem;
    display: flex;
    justify-content: space-around;
}
.moreInfo div, .quickLinks div {
    width: 15rem;
}
.footerImage img {
    height: 100px;
    width: 200px;
}
.subscribe input {
    border: 2px solid var(--complementary-purple);
    width: 14rem;
    height: 1rem;
    padding: 0.7rem;
    outline: none;
}
.subscribe button {
    margin-top: 0.7rem;
    width: 14rem;
    color: var(--complementary-purple);
    padding: 0.5rem;
    height: 2.5rem;
    border: none;
    background-color: var(--primary-cian);
}
.subscribe button:hover {
    color: var(--primary-cian);
    background-color: white;
}
.footerMenu {
    display: flex;
    flex-direction: column;
}
.footerMenu a {
    margin-bottom: 1rem;
    /* font-size: 18px; */
    color: white;
    text-decoration: none;
}
.quickLinks {
    margin-top: 3rem;
    justify-content: space-around;
    display: flex;
}
.quickLinks a:hover {
    color: var(--primary-cian);
}

.footerInfo a{
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.moreFooterInfo {
    text-align: left;
    display: flex;
    flex-direction: column;
}
.moreFooterInfo a {
    text-decoration: none;
    margin-bottom: 1rem;
    color: white;
}